#!/bin/bash

set -euo pipefail

echo "Creating the Wordpress user..."
mysql -h "{{ rds_db_host }}" -u "{{ rds_db_username }}" -p"{{ rds_db_password }}" -e "CREATE USER IF NOT EXISTS '{{ wordpress_db_username }}'@'%' IDENTIFIED BY '{{ wordpress_db_password }}';"

echo "Creating the Wordpress database..."
mysql -h "{{ rds_db_host }}" -u "{{ rds_db_username }}" -p"{{ rds_db_password }}" -e "CREATE DATABASE IF NOT EXISTS {{ wordpress_db_name }} DEFAULT CHARACTER SET utf8 COLLATE utf8_unicode_ci;"

echo "Adding permissions for the Wordpress user..."
mysql -h "{{ rds_db_host }}" -u "{{ rds_db_username }}" -p"{{ rds_db_password }}" -e "GRANT ALL ON {{ wordpress_db_name }}.* TO '{{ wordpress_db_username }}'@'%';"
mysql -h "{{ rds_db_host }}" -u "{{ rds_db_username }}" -p"{{ rds_db_password }}" -e "FLUSH PRIVILEGES;"